@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic&subset=latin,cyrillic);

body {
    font: italic 700 18px 'Roboto Condensed', sans-serif;
    margin: 0;
}

.player {
    cursor: pointer;
}

.player {

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #f3f3f3), color-stop(51%, #ededed), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed', GradientType=0); /* IE6-9 */
}

.player .lastname {
    text-transform: uppercase;
}

.player img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    display: inline;
    vertical-align: middle;
    /*border-radius: 50px;*/

}

.player div {
    display: inline;
    font-size: 12px;
}

.player.disabled
{
    color: #666;
}

.player.disabled img
{
    opacity: 0.7;
}

.playerIcon {
    display: inline-block;

    margin: 10px;
    background-color: #3071a9;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;

    width: 40px;
    height: 40px;
    border-radius: 40px;

    z-index: 100;
}

.place {
    position: absolute;
    /*width: 60px;*/
}

.tshirt {
    display: block;
    width: 60px;
    height: 65px;
    content: url('../img/tshirt.png');
}

.place.hover .tshirt {
    content: url('../img/tshirt_hi.png');
}

.place span {
    color: black;
    text-shadow: 1px 1px 0 white;
    text-align: center;
    position: relative;
    top: -5px;

    padding: 0 5px;
    display: block;
    margin: 0 auto;

    text-transform: uppercase;
}

.hover .playerface
{
    -webkit-transform: scale(1.1);
}

.field {
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/bg2.jpg') no-repeat;
    height: 540px;
    width: 960px;
    margin: 0;
}

.playersList {
    position: fixed;
    top: 40px;
    left: 40px;
    width: 230px;
}

.formationsList {
    position: fixed;
    top: 50px;
    left: 650px;
}

.formations button {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;

    padding: 6px 12px;
    /*border: 1px solid transparent;*/
    margin: 0;

    width: 200px;
}

.slate {
    position: fixed;
    top: -52px;
    /*animation would put it in place*/

    width: 310px;
    height: 52px;
    background: url("../img/slate-white.png") 0 0 no-repeat;
    padding-top: 13px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    color: black;
    text-align: center;

    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

.slate:hover {
    color: orangered;
    cursor: pointer;
    background: url("../img/slate-white-hover.png") 0 0 no-repeat;
}

.slate.players {
    left: 0;
}

.slate.formations {
    left: 650px;
}

.formationsList li {
    width: 172px;
    background: url("../img/slate2.png") 0 0 no-repeat;
    padding: 0 30px 0 30px;
    display: block;
    color: #bcbcbc;
    cursor: pointer;
    font-weight: 700;
    height: 53px;
    line-height: 53px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
}

.ui-widget {
    font: italic 700 14px 'Roboto Condensed', sans-serif;
}

.ui-accordion .ui-accordion-header {
    padding: 7px 0 0 35px;
    height: 25px;
    color: white;
    background: url("../img/slate-dark_40px.png");
    text-transform: uppercase;
    border-radius: 0;
    border: none;
    margin: 0
}

.ui-accordion .ui-accordion-content {
    padding: 0;
    border: none;
    border-radius: 0;
}

.playerface {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid white;
    display: block;
    margin: 0 auto 5px;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
    }

    100% {
        -webkit-transform: scale(1);
    }
}

.bounceIn {
    animation-name: bounceIn;
}

.disappear {
    transition: all .3s ease-out;
    /*width: 0;*/
    /*height: 0;*/
    opacity: 0;
}