@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700italic&subset=latin,cyrillic);

body{
    font: italic 700 18px 'Roboto Condensed', sans-serif;
}
#playersList {
    list-style: none;
}

.player, .placeHolder {
    cursor: pointer;
}

.player {
    padding: 3px;
}

.player img {
    width: 30px;
    height: 30px;
    /*border-radius:20px;*/
    margin-right: 5px;
}

.player div {
    display: inline;
    font-size: 12px;
}

.playerIcon {
    display: inline-block;

    margin: 10px;
    background-color: #3071a9;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;

    width: 40px;
    height: 40px;
    border-radius: 40px;

    z-index: 100;
}

.placeHolder {
    position: absolute;

    text-align: center;
    padding-top: 5px;

    color: black;
    text-shadow: 1px 1px 0 white;

    width: 60px;
    height: 65px;
    background-image: url('../img/tshirt.png');

}

.placeHolder.hover {
    background-image: url('../img/tshirt_hi.png');
}

.placeIcon {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: darkred;
    color: white;
    text-shadow: 0 0 5px #000;
    padding-top: 10px;

    position: relative;
    margin: 0 auto;
}

#field {
    background: url('../img/bg2.jpg') no-repeat;
    height: 540px;
    width: 960px;
    border: 1px dashed darkgray;
}

#formations {
    padding: 20px;
    display: inline-block;
}

#formations button {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;

    padding: 6px 12px;
    /*border: 1px solid transparent;*/
    margin: 0;

    width: 200px;
}

#formations .toggle {
    width: 310px;
    height: 52px;
    background: url("../img/slate-white.png") 0 0 no-repeat;
    padding: 13px 30px 7px 100px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    color: black;

    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
}

#formations .toggle:hover {
    color: orangered;
    cursor: pointer;
    background: url("../img/slate-white-hover.png") 0 0 no-repeat;
   /*text-shadow:  1px 1px 0 rgba(255, 255, 255, 0.5);*/
    /*text-decoration: underline;*/
    /*text-shadow: none;*/

    /*background-color: #565656;*/
    /*color: transparent;*/
    /*text-shadow: 0px 2px 3px rgba(255,255,255,0.5);*/
    /*-webkit-background-clip: text;*/
    /*-moz-background-clip: text;*/
    /*background-clip: text;*/
}

.cd-dropdown,
.cd-select {
    position: relative;
    width: 300px;
    margin: 20px auto;
    display: block;
    /*left:-50px;*/
}

.cd-dropdown > span {
    width: 100%;
    height: 40px;
    /*line-height: 40px;*/
    color: #999;
    font-weight: 700;
    font-size: 16px;
    background: #fff;
    display: block;
    padding: 0 50px 0 30px;
    position: relative;
    cursor: pointer;
    background: url("../img/slate-new.png");
}

.cd-dropdown > span:after {
    content: '\25BC';
    position: absolute;
    right: 0px;
    top: 15%;
    width: 50px;
    text-align: center;
    font-size: 12px;
    padding: 10px;
    /*height: 70%;*/
    /*line-height: 24px;*/
    border-left: 1px solid #ddd;
}

.cd-dropdown.cd-active > span:after {
    content: '\25B2';
}

.cd-dropdown ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
}

.cd-dropdown ul li {
    display: block;
}

.list li {
    width: 100%;
    background: url("../img/slate2.png") 0 0 no-repeat;
    padding: 0 30px 0 30px;
    display: block;
    color: #bcbcbc;
    cursor: pointer;
    font-weight: 700;
    height: 53px;
    line-height: 53px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);


    -webkit-transition: all 0.2s linear 0s;
    -moz-transition: all 0.2s linear 0s;
    -ms-transition: all 0.2s linear 0s;
    -o-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;

}

.cd-dropdown > span span[class^="icon-"],
.cd-dropdown > span span[class*=" icon-"] {
    padding: 0 30px 0 45px;
}

/* Select fallback styling */
.cd-select {
    border: 1px solid #ddd;
}

/*.cd-dropdown ul {*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*width: 100%;*/
/*}*/

/*.cd-dropdown > span,*/
/*.cd-dropdown ul li {*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.cd-dropdown ul li {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*pointer-events: none;*/
/*}*/


/*.cd-active.cd-dropdown ul li {*/
    /*pointer-events: auto;*/
/*}*/

/*.cd-active.cd-dropdown ul li span {*/
    /*-webkit-transition: all 0.2s linear 0s;*/
    /*-moz-transition: all 0.2s linear 0s;*/
    /*-ms-transition: all 0.2s linear 0s;*/
    /*-o-transition: all 0.2s linear 0s;*/
    /*transition: all 0.2s linear 0s;*/
/*}*/

